<!DOCTYPE html>
<html>
	<head>
		<title>barryteoh.com test :: <%=test %></title>
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css" />
		<script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"></script>
	</head>
	<body bgcolor="#ffffff">
		<div data-role="page"> 
				<div data-role="header" data-theme="c"><h1><%=test %></h1></div>
				<div data-role="content">
					<img src="/img/logo.png" />
                    <%=body %>
				</div> 
		</div>
	</body>
		
</html>
